<!DOCTYPE html>
<html lang="cn"> 
<head>
	<meta charset="utf-8">
	<title><{$title}></title>
</head>
<body>
	<h1>編輯用戶</h1>
	<form action="./index.php?m=User&a=update" method="post">
		<input type="hidden" name="id" value="<{$id}>">
		用戶名:<input type="text" name="name" value="<{$list['name']}>"><br> 
		年齡:<input type="text" name="age" value="<{$list['age']}>"><br> 
		性別:<input type="radio" name="sex" value="0" <{if $list['sex']==0}>checked<{else}><{/if}>>
		<input type="radio" name="sex" value="1" <{if $list['sex']==1}>checked<{else}><{/if}>>男<br> 
		<button>提交</button>
	</form>
</body>
</html>